Thumbs.db
.vscode/
__pycache__/
*/__pycache__/
*.pyc
chat_result/
math_script/
config.json
*key.txt
a.py
assistant.py
reader.py
kanalists.py
!tools/reader.py
!tools/kanalists.py
!old_ver/a.py
!old_ver/assistant.py
!old_ver/reader.py
!old_ver/kanalists.py
!old_ver/prompts.py